@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Outfit:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lora', serif;
  color: #2A2D32;
  background-color: #CFEAFF;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Outfit', sans-serif;
}