@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole universe */
html {
  scroll-behavior: smooth;
}

/* Default Background */
body {
  background-color: #CFEAFF;
  /* Default Home Base */
}