@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Canvas: Cool Off-White (Change Hue to 35 for Warm) */
  --canvas: 35 20% 97%; 
  
  /* Surface: Light Blue-Grey */
  --surface: 210 20% 98%; 
  
  /* Text: Deep Blue-Black */
  --text-primary: 215 25% 7%; 
}

.dark {
  /* Canvas: Deep Blue-Grey */
  --canvas: 217 32% 17%; 
  
  /* Surface: Lighter Blue-Grey for Cards */
  --surface: 217 32% 28%; 
  
  /* Text: Off-White */
  --text-primary: 210 40% 98%; 
}

body {
  /* This applies the variables globally */
  color: hsl(var(--text-primary));
  background: hsl(var(--canvas));
}
